html {
  background-color: var(--secondary);

  /** farver **/
  --primary: #db1f12;
  --secondary: #d3cdc7;
  --tertiary: #ffffff;
  --quarternary: #000000;

  /** spacing **/
  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-m: 1.5rem;
  --space-l: 2rem;
  --space-xl: 3rem;
  --space-xxl: 6rem;
  --space-xxxl: 10;

  --size-xxs: 8px;
  --size-xs: 10px;
  --size-s: 12px;
  --size-xm: 14px;
  --size-m: 16px;
  --size-l: 20px;
  --size-xl: 25px;
  --size-xxl: 30px;
  --size-xxxl: 40px;
}

main {
  margin-left: var(--space-sm);
  margin-right: var(--space-sm);
}

@media screen and (min-width: 600px) {
  main {
    margin-left: var(--space-m);
    margin-right: var(--space-m);
  }
}

a {
  color: var(--quarternary);
  text-decoration: none;
}

a:hover {
  color: var(--primary);
}

/* header (menu) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--secondary);
}

.logo img {
  width: 40px;
}

.multimedie_menu {
  flex: 1;
  color: var(--primary);
  text-transform: uppercase;
  font-size: var(--size-sm);
  letter-spacing: 0.5px;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: #333333;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
}

.menu-hjem.active {
  color: var(--primary);
}
.menu-portfolio.active {
  color: var(--primary);
}
.menu-om.active {
  color: var(--primary);
}

.menu a:hover {
  color: var(--primary);
  text-decoration: underline;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #333333;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}
@media screen and (max-width: 900px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: var(--secondary);
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
}

/* menuens tekst forbliver centreret når det er desktop */
@media screen and (min-width: 900px) {
  .logo img {
    width: 40px;
    margin-right: 11rem;
  }
}
